@import 'compass/css3';

.list-1{
    .list-item{
        width: 228px;
        float: left;
        margin: 14px 6px 0;
        word-break: break-word;
        background: #fff;
        @include box-shadow(0px 0px 1px rgba(34, 25, 25, 0.1));
        .list-item-hd{
            height: 18px;
            line-height: 18px;
            padding: 10px 18px 0;
            overflow: hidden;
            h4{
                font-size: 14px;
                width: 120px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .img-box{
            margin-top: 5px;
            display: block;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            height: 204px;
            background: url(../images/pg_bg1.png) no-repeat bottom;
            .minpic{
                width: 64px;
                height: 64px;
                float: left;
                margin-right: 4px;
                margin-top: 4px;
            }
            .maxpic{
                margin-top: 4px;
                height: 200px;
                width: 200px;
            }
            .noma{
                margin-right: 0;
            }
        }
        .list-item-ft{
            height: 20px;
            padding: 13px;
            .tex{
                color: #999;
                line-height: 20px;
            }
            .btn-1{
                height: 20px;
                line-height: 20px;
                width: 64px;
            }
        }
    }
}