$imageUrl: 'http://api.hair.121.207.242.210.xip.io/backend/webapp/public/themes/default/images/';
//$imageUrl: 'http://meifa.com/webapp/public/themes/default/images/';
//$imageUrl: '192.168.57.103/webapp/public/themes/default/images/';
$width: 100%;
$cashWidth: 100%;
$blue: #10638f;
$liteBlue: #49afcd;
$orange: #f60;
$green: #89CC56;

@mixin ell($width: 90px) {
    display: inline-block;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.clearfix {
    @extend %clearfix;
}

.lf{
    @extend %float-left;
}

.rt{
    @extend %float-right;
}

.hide{
    display: none;
}
.tips{
    color: #ccc;
}
.error, .star{
    color: $orange;
}
.success{
    color: $green;
}
.star, .space{
    padding: 0 5px;
}

.ml{
    margin-left: 20px;
}

.mr{
    margin-right: 20px;
}
.mt{
    margin-top: 20px;
}

p{
    font-size: 14px;
    line-height: 24px;
}
.line{
    border-bottom: 1px dotted #ccc;
}

.ipt, .area-1{
    height: 24px;
    padding: 5px 0 5px 5px;
    width: 350px;
    font-size: 14px;
    border: 1px solid #ccc;
}
.ipt-1{
    width: 150px;
}
.ipt-2{
    width: 100px;
}
.ipt-error{
    border: 1px solid #f60;
}
.area-1{
    height: 100px;
}

.select-1{
    width: 115px;
    height: 30px;
    padding: 5px 0;
}
html, body {
    height: 100%;
}
.wrapper-gray {
    background: $backGray;
    min-height: 420px;
}
.bg-gray {
    background: $backGray;
}
