.list-1{
    position:relative;
    width:100%;
    overflow-x:hidden;
    ul {
        li {
            width: 60px;
            height: 50px;
            border: 1px solid #ccc;
            margin: 0 20px 20px 0;
            padding: 0 3px;
            float: left;
            text-align: center;
            p {
                font-size:14px;
                line-height:24px;
                display:block;
                max-width:60px;
                overflow:hidden;
                text-overflow:ellipsis;
                vertical-align:middle;
                white-space:nowrap;
            }
            &.no-mar {
                margin-right: 0;
            }
        }
    }
}
.list-2{
    border:1px solid #ccc;
    .list-2-hd {
        .icon {
            margin:10px 0 0 10px;
            z-index:100;
        }
        h2 {
            padding:5px 0;
            height:30px;
            line-height:30px;
            vertical-align:middle;
            font-size:16px;
            text-align:center;
            border-bottom:1px solid #ccc;
        }
    }
    ul {
        padding: 20px 0;
        li {
            float:left;
            text-align:center;
            background: url($imageUrl + 'line/cutline_vertical@2x.png') no-repeat right top;
            &.last {
                background: none;
            }
            h3, h4 {
                padding:5px 0;
                font-size:14px;
                line-height:24px;
                vertical-align:middle;
                color: $blackTwo;
            }
            p {
                padding:0 0 5px;
                font-size:20px;
                line-height:24px;
                vertical-align:middle;
                color: $numOrageDark;
            }
        }
    }
}
.list-arrow{
    display:block;
    text-decoration:none;
    cursor:pointer;
    background:url($imageUrl + "arrow.png") no-repeat 98% center;
}
.list-3{
    border:1px solid #ccc;
    border-bottom:none;
    ul {
        li {
            border-bottom:1px solid #ccc;
            &.none {
                text-align:center;
                padding:10px 0;
            }
        }
    }
    .th {
        background:#eee;
        border-bottom:1px solid #ccc;
    }
    .list-item {
        padding:6px 0;
        float:left;
        font-size:14px;
        line-height:24px;
        text-align:center;
        span {
            color: #333;
        }
    }
}
.list-4 {
    ul {
        li {
            padding:20px 10px;
            border-bottom:1px solid #ccc;
            a {
                width:100%;
                text-decoration:none;
                color:#333;
            }
        }
    }
}
.list-5{
    border:1px solid #ccc;
    border-bottom:none;
    min-width:200px;
    ul {
        li {
            border-bottom:1px solid #ccc;
            a, .list-item {
                color:#333;
                text-decoration:none;
                width:100%;
                display:block;
                padding:20px 0;
                text-indent:1em;
                .date {
                    margin-left: 30px;
                }
            }
            &.selected {
                background:url($imageUrl + "gou.png") no-repeat 98% center;
            }
        }
    }
}
.list-6{
    border:1px solid #ccc;
    ul {
        li {
            padding:20px 10px;
        }
    }
}
